# =============================================================================
# Hiren's Boot CD — Excelsior
# loopback.cfg — Super Grub2 Disk and Ventoy Loopback Boot Configuration
# =============================================================================

set is_loopback=true
source /boot/grub/grub.cfg
